*filter

# Conexiones establecidas
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP

# Puerto personalizado 61189
-A INPUT -p tcp --dport 61189 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -p tcp --sport 61189 -m conntrack --ctstate ESTABLISHED -j ACCEPT

#  Permitir loopback
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
-A INPUT -s 127.0.0.0/8 ! -i lo -j DROP

# Conexiones establecidas
#-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
#-A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
#-A INPUT -m conntrack --ctstate INVALID -j DROP

# DNS
-A OUTPUT -p udp --dport 53 -j ACCEPT
-A INPUT  -p udp --sport 53 -j ACCEPT
-A OUTPUT -p tcp --dport 53 -j ACCEPT
-A INPUT  -p tcp --sport 53 -j ACCEPT

# DHCP
-A OUTPUT -p udp --dport 67:68 -j ACCEPT
-A INPUT  -p udp --sport 67:68 -j ACCEPT

# HTTP/HTTPS
-A OUTPUT -p tcp --dport 80 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A INPUT  -p tcp --sport 80 -m conntrack --ctstate ESTABLISHED -j ACCEPT
-A OUTPUT -p tcp --dport 443 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A INPUT  -p tcp --sport 443 -m conntrack --ctstate ESTABLISHED -j ACCEPT

# Wazuh Manager
-A OUTPUT -p tcp -d {{ wazuh_ip }} --dport 1514 -j ACCEPT
-A OUTPUT -p udp -d {{ wazuh_ip }} --dport 1514 -j ACCEPT
-A OUTPUT -p tcp -d {{ wazuh_ip }} --dport 1515 -j ACCEPT
-A INPUT  -p tcp -s {{ wazuh_ip }} --sport 1514 -m conntrack --ctstate ESTABLISHED -j ACCEPT
-A INPUT  -p udp -s {{ wazuh_ip }} --sport 1514 -m conntrack --ctstate ESTABLISHED -j ACCEPT
-A INPUT  -p tcp -s {{ wazuh_ip }} --sport 1515 -m conntrack --ctstate ESTABLISHED -j ACCEPT

# Politicas por defecto
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]

COMMIT
